.login {
    width: 100vw;
    height: 100vh;
    /* background-color: #A1EEBD; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    height: 40%;
}

.bottom {
    height: 50%;
}

.heading {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    text-align: center;
}

.subHeading {
    font-size: var(--normal-font-size);
    color: var(--text-color-light);
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;

}

.inputBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 2px solid #F0F0F0;
}

.icon {
    font-size: var(--h2-font-size);
    color: var(--text-color-light);
}

.inputField {
    box-sizing: border-box;
    outline: none;
    border: none;
    height: 3rem;
    width: 300px;
    padding: 0 1rem;
    font-size: var(--small-font-size);
    font-family: var(--body-font);
}

.buttonSubmit {
    box-sizing: border-box;
    height: 3rem;
    width: 300px;
    padding: 0 1rem;
    border: none;
    border-radius: 10px;

    background-color: #00A9FF;
    color: #fff;

    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}